@import url(reset.css);

@font-face {
  font-family: Georgia;
  src: url(./assets/fonts/Georgia.ttf);
}
@font-face {
  font-family: Arial;
  src: url(./assets/fonts/ArialMT.ttf);
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.header {
  background-image: url(./assets/header/start-screen-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__content {
  margin: 0 auto;
  max-width: 1280px;
  background: url(./assets/header/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
  border: 1px solid #000000;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 88px;
  align-items: center;
}

.header__wrapper-pets {
  margin-bottom: 0;
  padding-bottom: 30px;
}
.logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.logo__title-pets {
  color: #545454;
}

.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin-left: 5px;
}

.logo__subtitle-pets {
  color: #292929;
}

.nav {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.nav__link {
  position: relative;
  color: #cdcdcd;
  margin-bottom: 6px;
}

.active {
  pointer-events: none;
}

.nav__link-pets {
  color: #545454;
}

.nav__link:hover,
.nav__link.active {
  color: #fafafa;
  transition: 0.7s ease;
}

.nav__link-pets:hover,
.nav__link-pets.active {
  color: #292929;
  transition: 0.7s ease;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #f1cdb3;
  transition: 0.7s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.nav__link.active::after {
  transform: scaleX(1);
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.burger {
  background: none;
  width: 30px;
  height: 22px;
  align-items: center;
  cursor: pointer;
  display: none;
}

.burger-menu {
  display: none;
}

.start {
  display: flex;
  justify-content: space-between;
}

.start__description {
  margin-top: 164px;
  max-width: 460px;
  text-align: start;
}

.start__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 40px;
}

.start__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-bottom: 42px;
}

.button {
  border-radius: 100px;
  padding: 13px 45px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.fill__button {
  background: #f1cdb3;
  color: #292929;
  padding: 15px 45px;
}

.frame__button {
  border: 2px solid #f1cdb3;
}

.fill__button:hover,
.number:hover {
  background: #fddcc4;
  transition: 0.5s ease;
}

.frame__button:hover,
.right:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.5s ease;
}

.pets__slider-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.pets__slider-button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  text-align: center;

  max-width: 52px;
  max-height: 52px;
}

.double {
  padding: 11px 15px 13px 10px;
}
.ones {
  padding: 11px 20px 15px 17px;
}

.number {
  padding: 11px 22px 15px 20px;
}

li > a.left {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  pointer-events: none;
}
.right {
  border: 2px solid #f1cdb3;
}

.center {
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
}

.about__content {
  display: flex;
  justify-content: space-between;
  padding: 80px 175px 100px;
}

.about__descriptions {
  max-width: 430px;
  padding-top: 14px;
}

h2,
.pets__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin-top: 25px;
}

.pets {
  background-color: #f6f6f6;
}

.pets__content {
  padding: 80px 0 100px;
  text-align: center;
}

.pets__title {
  margin-bottom: 60px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.slider__pets {
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

.slider__arrow {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 23px 19px;
  cursor: pointer;
}

.slider__arrow:hover {
  background: #fddcc4;
  border: 2px solid #fddcc4;
  transition: 0.7s ease;
}

.slider__card-main + .slider__card-main {
  margin-left: 90px;
}

.arrow-left {
  margin-right: 53px;
}

.arrow-right {
  margin-left: 53px;
}

.slider__card {
  background: #fafafa;
  border-radius: 9px;
  padding: 0 0 30px 0;
  cursor: pointer;
}

.slider__card:hover {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  transition: 0.4s ease;
}

.slider__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 30px 0;
}

.help__content {
  text-align: center;
  padding: 80px 0 100px;
}

.help__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 90px;
  max-width: 1026px; */
  flex-wrap: wrap;
  column-gap: 119px;
  row-gap: 56px;
}

/* .help__card:nth-child(6) {
  margin-left: 82px;
} */

.help__title {
  margin-bottom: 60px;
}

.help__image {
  margin-bottom: 30px;
}

.help__card-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  background: #f6f6f6;
}

.donation__content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 80px 142px 100px;
}

.donation__image {
  max-height: 261px;
  margin: 9px 0;
}

.donation__descriprion {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.donation__bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__button {
  max-width: 349px;
  border-radius: 9px;
  padding: 9px 0px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 9px 14px;
}

.button__image {
  margin-right: 9px;
}

.donation__bank-information {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}

.footer {
  background-image: url(./assets/header/start-screen-background.png);
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.footer__content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: -4px;
}

.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  max-width: 279px;
}

.footer__link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 51px;
}

.footer__email {
  position: relative;
  margin-left: 60px;
}

.footer__email::before {
  content: url(./assets/footer/mail.png);
  position: absolute;
  left: -60px;
  top: 0px;
}

.footer__tel {
  position: relative;
  margin-left: 60px;
}

.footer__tel::before {
  content: url(./assets/footer/phone.png);
  position: absolute;
  left: -60px;
  top: -6px;
}

.footer__locations {
  display: flex;
  flex-direction: column;
  margin-bottom: 49px;
  margin-right: 10px;
}

.footer__locations-title {
  margin-bottom: 32px;
  max-width: 270px;
}

.location__link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.location__boston {
  margin-bottom: 37px;
}

.location__image {
  margin-right: 20px;
}

.location {
  position: relative;
  margin-left: 40px;
}

.location__london::before {
  content: url(./assets/footer/pin.png);
  position: absolute;
  left: -42px;
  top: -4px;
}
.location__boston::before {
  content: url(./assets/footer/pin.png);
  position: absolute;
  left: -42px;
  top: 6px;
}

.footer__link:hover,
.location__link:hover {
  color: #ffffff;
  transition: 0.7s ease;
}

/* ADAPTIVVE */

/*TABLET */

@media (max-width: 1200px) {
  .help__cards {
    column-gap: 90px;
  }
  .donation__content {
    padding: 80px 100px 100px;
  }
}

@media (max-width: 1150px) {
  .start__image {
    max-width: 569px;
  }
  .about__content {
    padding: 65px 75px 100px;
  }
  .about__image {
    max-width: 300px;
  }
  .help__cards {
    column-gap: 60px;
  }
  .help__card {
    min-width: 170px;
  }
  .help__card:nth-child(6) {
    margin-left: 0px;
  }
  .donation__content {
    padding: 80px 30px 100px;
  }
}
@media (max-width: 980px) {
  .start {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header__wrapper {
    margin-bottom: 60px;
  }
  .start__description {
    margin-top: 0px;
  }
  .container {
    max-width: 1260px;
    padding: 0 30px;
  }
  .start__button {
    margin-left: 126px;
    margin-bottom: 100px;
  }
  .start__image {
    margin-left: 135px;
  }
  .about__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about__image {
    max-width: 300px;
  }
  .about__descriptions {
    margin-bottom: 80px;
  }

  .slider__card {
    min-width: 270px;
  }

  .slider__card-main + .slider__card-main {
    margin-left: 40px;
  }
  .arrow-left {
    margin-right: 12px;
    max-width: 52px;
  }

  .arrow-right {
    margin-left: 12px;
    max-width: 52px;
  }
  .slider__card:nth-child(4) {
    display: none;
  }

  .help__cards {
    row-gap: 53px;
  }
  .donation__content {
    flex-direction: column-reverse;
    padding: 82px 30px 89px;
    align-items: center;
  }
  .donation__image {
    max-width: 505px;
  }
  .donation__descriprion {
    margin-bottom: 53px;
    max-width: 380px;
  }
  .footer__content {
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    row-gap: 20px;
  }
}

/* MOBILE */

@media (max-width: 760px) {
  .container {
    padding: 0 5px;
  }
  .header__wrapper {
    margin-bottom: 29px;
    padding: 30px 13px;
  }
  .nav {
    display: none;
  }

  .burger {
    display: flex;
  }

  .burger-menu {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background: #f1cdb3;
  }
  .burger-menu::before {
    content: "";

    bottom: 10px;
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #f1cdb3;
  }
  .burger-menu::after {
    content: "";
    top: 10px;
    position: absolute;
    display: block;
    width: 30px;
    height: 2px;
    background: #f1cdb3;
  }
  .start__description {
    text-align: center;
  }
  .start__title {
    font-size: 25px;
    letter-spacing: 0.06em;
  }

  .start__text {
    max-width: 300px;
  }
  .start__button {
    margin-left: 0px;
  }
  .start__image {
    max-width: 260px;
    margin-left: 40px;
  }

  .start__button {
    margin-bottom: 106px;
  }
  h2 {
    font-size: 25px;
  }

  .about__content {
    padding: 27px 12px 41px;
  }
  .about__descriptions {
    margin-bottom: 38px;
  }
  .about__image {
    max-width: 260px;
  }

  .about__text {
    max-width: 270px;
    margin-top: 24px;
    text-align: justify;
  }

  .about__title {
    text-align: center;
    letter-spacing: 0.06em;
  }

  .pets__content {
    padding: 44px 0 42px;
  }
  .pets__title {
    margin-bottom: 42px;
    font-size: 25px;
  }

  .slider__card:nth-child(3) {
    display: none;
  }
  .slider {
    justify-content: center;
    margin-bottom: 114px;
    position: relative;
  }
  .slider__arrow {
    position: absolute;
  }
  .arrow-left {
    bottom: -17%;

    left: 20%;
  }
  .arrow-right {
    bottom: -17%;

    right: 20%;
  }
  .help__content {
    padding: 42px 10px 42px;
  }

  .help__card {
    min-width: 130px;
    max-height: 87px;
  }
  .help__title {
    margin-bottom: 40px;
    font-size: 25px;
  }
  .help__image {
    margin-bottom: 20px;
    max-width: 50px;
    max-height: 50px;
  }
  .help__card-title {
    font-size: 15px;
  }
  .help__cards {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start;
  }

  .donation__content {
    text-align: center;
    padding: 42px 0px 42px;
  }
  .donation__descriprion {
    margin-bottom: 42px;
  }
  .donation__button {
    font-size: 15px;
    line-height: 150%;
    padding: 10px 16px;
  }
  .donation__image {
    max-width: 260px;
    margin: 0 0;
  }
  .donation__bank {
    line-height: 160%;
    letter-spacing: normal;
  }
  .donation__bank-information {
    text-align: justify;
    max-width: 280px;
  }

  .footer__contacts {
    text-align: center;
    margin-bottom: -28px;
  }
  .footer__title {
    font-size: 25px;
  }

  .footer__email {
    margin-top: 3px;
  }
  .footer__locations {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .footer__locations-title {
    text-align: center;
    margin-bottom: 39px;
  }
  .location {
    margin-left: 38px;
  }
  .location__boston {
    margin-bottom: 44px;
  }
  .footer__image {
    max-width: 260px;
  }
}
