
* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    background: gainsboro;
}

.aside {
    background: lightgray;
    max-width: 200px;
    float: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 10px double gray;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 50px auto;
}

.header {
    width: 60%;
    margin: auto;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    border: 10px double gray;
    background: lightgray;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 10px;
    padding: 10px;
}

.buttons,
.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}


.button,
.score {
    background: lightgray;
    border: 3px outset darkgray;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    /*z-index: 2;*/
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.timer,
.progress {
    color: red;
    line-height: 33px;
    border: 3px solid darkgray;
    padding: 5px;
    border-radius: 10px;
}

.reset {
    width: 50px;
    height: 50px;
    display: flex;
    background: lightgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: cover;
    padding: 5px;
    border: 3px outset darkgray;
    z-index: 2;
    border-radius: 10px;
}


.field {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: lightgray;
    border: 10px double gray;
    border-top-style: none;
    transition: all 1s;
}

.cell {
    display: flex;
    background: lightgray;
    border: 3px outset darkgray;
    line-height: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.open {
    background: white;
    border: 1px solid darkgrey;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: red;
    background: rgba(0, 0, 0, 0.8)
}


.dark-theme {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.dark-theme .open {
    background: gray;

}

.button-active {
    background: darkgray;
}

.bomb:hover {
    background: url("./assets/bomb.png");
    background-size: cover;
}

.bomb {
    background: url("./assets/bomb.png") !important;
    background-size: cover !important;
}

.clicked {
    border: 4px solid gray;
}

.cell-1 {
    color: blue;
}

.cell-2 {
    color: green;
}

.cell-3 {
    color: red;
}

.cell-4 {
    color: darkblue;
}

.cell-5 {
    color: brown;
}

.cell-6 {
    color: turquoise;
}

.cell-7 {
    color: black;
}

.cell-8 {
    color: gray;
}

.cell:hover,
.button:hover {
    background: grey;
}


@media screen and (max-width: 500px) {
    .field {
        width: 90%;
        font-size: 12px;
    }

    .header {
        width: 90%;
        font-size: 25px;
    }

    .aside {
        margin: 20px auto;
        min-width: 90%;
        float: none;
        font-size: 12px;
        padding: 5px;
        row-gap: 5px;
    }

    .container {
        margin: 0 auto;
    }

    .buttons {
        text-align: center;
        flex-direction: row;
        column-gap: 5px;
    }

    .theme {
        row-gap: 5px;
    }
}