.pets {
  background: #f6f6f6;
}

.pets__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 60px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__title {
  text-align: center;
  max-width: 400px;
}
.pets__paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.pets__pagination {
  font-size: 2rem;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 50%;
  text-align: center;
  padding: 13px 0 15px;
}
.pets__pagination-center {
  background: $color-primary;
}

.enable {
  &:hover {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
    transition: 0.5s ease;
    pointer-events: all;
  }
}
.disable {
  border: 2px solid #cdcdcd;
  color: #cdcdcd !important;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .pets__content {
    row-gap: 30px;
    padding-bottom: 75px;
  }
  .pets__paginations {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .pets__content {
    padding-top: 42px;
    padding-bottom: 42px;
    row-gap: 40px;
  }
  .pets__button {
    margin-top: 75px;
  }
  .pets__paginations {
    column-gap: 10px;
    margin-top: 2px;
  }
}
