html {
    /*font-size: 10px;*/
    font-size: calc(var(--index) * .48);
}

body {
    font-size: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #2e2a23;
    --color-secondary: rgba(0, 0, 0, .3);
    --color-text: rgba(255,255,255, .8);
    --index: calc(1vw + 1vh);
}

.container {
    color: var(--color-text);
    display: flex;
    background: var(--color-primary);
}

.main {
    width: 85vw;
    height: 100vh;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--index) * 1);
}

.right-side {
    width: 15vw;
    height: 100vh;
    font-size: 1.3rem;
    background: var(--color-secondary);
}