.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fafafa;
  border-radius: 9px;
  padding: 10px;
  @media (max-width: 860px) {
    padding: 0px;
  }
}

.pop-up__body {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1100px) {
    width: 630px;
  }
  @media (max-width: 860px) {
    width: 245px;
    justify-content: center;
    padding: 10px;
  }
}

.pop-up__image {
  width: 500px;
  border-radius: 9px;
  @media (max-width: 1100px) {
    width: 350px;
    height: 350px;
    border-radius: 9px;
    object-fit: cover;
  }
  @media (max-width: 860px) {
    display: none;
  }
}

.pop-up__content {
  max-width: 351px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 40px;
  @media (max-width: 1100px) {
    row-gap: 20px;
    max-width: 260px;
  }
}
.pop-up__title {
  margin-bottom: 10px;
  @media (max-width: 860px) {
    font-size: 35px;
    text-align: center;
  }
}
.pop-up__subtitle {
  @media (max-width: 860px) {
    text-align: center;
  }
}

.pop-up__text {
  @media (max-width: 1100px) {
    font-size: 13px;
  }
}
.pop-up__descriptions {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  & > li::before {
    color: $color-primary;
    content: "\2022";
    padding-right: 10px;
  }
  @media (max-width: 1100px) {
    row-gap: 6px;
  }
}

.pop-up__close {
  transform: translate(-50%, -50%);
  border: 2px solid $color-primary;
  padding: 18px;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  right: -8%;
  cursor: pointer;
  @media (max-width: 1100px) {
    top: -8%;
    right: -11%;
  }
  @media (max-width: 860px) {
    right: -23%;
  }
}
