@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc($index-size * .35);
}

body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.main {
  flex: 1 0 0;
  &__container{
    height: 90vh;
  }
}


.container {
  max-width: 1440px;
  padding: $section-padding;
  margin: auto;
}

.button {
  width: calc($index-size * 4);
  font-size: 2rem;
  padding: 2px 6px;
  cursor: pointer;
  border: 2px solid $color-primary;
  border-radius: 8px;
  background-color: transparent;
  &:not(button[disabled]):hover {
    background-color: $color-primary;
    color: $color-secondary;
    transition: background-color .7s, color .5s;
  }
}

.race {
  animation-name: race;
  animation-fill-mode: forwards;
}

@keyframes race {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - calc($index-size * 6));
}
}
@keyframes solo {
  0% {
    left: 0;
  }
  100% {
    left: calc(80%);
  }
}

