.car {
  width: 120px;
}

.garage__editor {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.garage__form {
  display: flex;
  align-items: center;
  column-gap: 10px;
  & input[type="text"] {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
  }
  & input[type="color"] {
    border: none;
  }
}

.cars {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.car__buttons {
  display: flex;
  column-gap: 10px;
}