html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: "Georgia", "Times New Roman", Times, serif;
}
.wrapper {
  @media (max-width: 760px) {
    overflow: hidden;
    position: relative;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-size: 4.4rem;
  line-height: 130%;
  color: $color-main-titles;
}

h2 {
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-secondary;
}

h3 {
  font-size: 2rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: $color-secondary;
}

.display__block {
  display: block !important;
}

.hidden {
  overflow: hidden;
}
.overlay {
  display: none;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

// .pop-up {
//   display: none;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: #fafafa;
//   border-radius: 9px;
//   padding: 10px;
// }

// .pop-up__body {
//   width: 900px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   @media (max-width: 1000px) {
//     width: 630px;
//   }
//   @media (max-width: 760px) {
//     width: 245px;
//     justify-content: center;
//     padding: 10px;
//   }
// }

// .pop-up__image {
//   width: 500px;
//   border-radius: 9px;
//   @media (max-width: 1000px) {
//     width: 350px;
//     height: 350px;
//     border-radius: 9px;
//     object-fit: cover;
//   }
//   @media (max-width: 760px) {
//     display: none;
//   }
// }

// .pop-up__content {
//   max-width: 351px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: center;
//   row-gap: 40px;
//   @media (max-width: 1000px) {
//     row-gap: 20px;
//     max-width: 260px;
//   }
// }
// .pop-up__title {
//   margin-bottom: 10px;
//   @media (max-width: 760px) {
//     font-size: 35px;
//     text-align: center;
//   }
// }
// .pop-up__subtitle {
//   @media (max-width: 760px) {
//     text-align: center;
//   }
// }

// .pop-up__text {
//   @media (max-width: 1000px) {
//     font-size: 13px;
//   }
// }
// .pop-up__descriptions {
//   display: flex;
//   flex-direction: column;
//   row-gap: 10px;
//   & > li::before {
//     color: $color-primary;
//     content: "\2022";
//     padding-right: 10px;
//   }
//   @media (max-width: 1000px) {
//     row-gap: 6px;
//   }
// }

@media (max-width: 980px) {
  .container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
@media (max-width: 680px) {
  .container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  h1 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
  }
}
