@font-face {
  font-family: "Georgia";
  src: url(../../assets/fonts/Georgia.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Georgia-bold";
  src: url(../../assets/fonts/Georgia-Bold.ttf) format("ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/ArialMT.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arial-italic";
  src: url(../../assets/fonts/Arial-ItalicMT.ttf) format("ttf");
  font-style: italic;
  font-weight: 400;
}
