.editor {
    width: 60%;
    /*height: 50%;*/
    display: flex;
    background: var(--color-secondary);
    border: 10px solid var(--color-secondary);
    border-radius: 5px;
    font-size: 1.2rem;
}

.editor__left,
.editor__right {
    width: 50%;
    height: 100%;
}

.editor__left-header,
.editor__right-header {
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor__left-main,
.editor__right-main {
    width: 100%;
    height: 90%;
    color: var(--color-primary);
    background-color: rgba(255, 255, 255, .9);
}

.editor__left-main {
    display: flex;
}

.editor__left-field {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 10px;
    padding: 10px;
}

.editor__input {
    width: 90%;
    padding: calc(var(--index) * .16);
    border-radius: 5px;
    font-size: 1.2rem;
}

.button {
    font-size: 1.2rem;
    padding: calc(var(--index) * .16) calc(var(--index) * .26);
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
}
.button:hover {
    background: var(--color-primary);
    color: var(--color-text);
    border: 2px solid var(--color-text);
}

.editor__right-main {
    display: flex;
    color: var(--color-text);
    background-color: var(--color-primary);
}

.editor__left-numbers,
.editor__right-numbers {
    height: 100%;
    width: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    background-color: var(--color-secondary);
}

.editor__right-tags {
    padding-top: 10px;
}

.editor__right-tags * {
    display: block;
    margin-left: 20px;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}

.editor__right-tags .check {
    color: var(--color-text);
}

@media screen and (max-width: 800px){
    .editor {
        width: 90%;
    }
}







