.right-side {
    width: 15vw;
    height: 100vh;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background: var(--color-secondary);
}

.right__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    row-gap: 5px;
    padding: 15px 5px 5px;
}

.right__title {
    width: 100%;
}
.right__main {
    height: calc(var(--index) * 7);
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.right__levels {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.right__level {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.right__level:hover {
    background: var(--color-text);
    color: var(--color-primary);
}

.right__level[data-complete = 'false'] > span {
    color: rgba(255, 255, 255, .5);
}

.right__level[data-complete = 'true'] > span {
    color: green;
}

.right__level[data-complete = 'help'] > span {
    color: orange;
}

.active {
    border: 1px solid var(--color-text);
    border-radius: 3px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.footer__github {
    width: calc(var(--index) * 1.7);
    height: calc(var(--index) * 1.7);
    background: url("../../assets/github.png");
    background-size: contain;
}

.footer__school {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 3);
    background: url("../../assets/school.svg") no-repeat;
    background-size: contain;
}