.table {
    width: calc(var(--index) * 30);
    height: calc(var(--index) * 15);
    display: flex;
    justify-content: flex-end;
    background-image: url("../../assets/truck.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.table__container {
    display: flex;
    width: 55%;
    align-items: center;
    height: 50%;
    column-gap: 5px;
    flex-wrap: wrap;
    padding: 30px 10px;
}

.table__container * {
    display: block;
    width: calc(var(--index) * 2.7);
    height: calc(var(--index) * 2.7);
    font-size: 0;
    cursor: pointer;
}


.table__container box {
    position: relative;
    background-image: url("../../assets/wooden-box.png");
    background-size: cover;
}

.table__container ammo-box {
    background-image: url("../../assets/ammo-box.png");
    background-size: cover;
}

.table__container #magazines {
    background-image: url("../../assets/ammo-box-magazines.png");
    background-size: cover;
}

.table__container gun {
    width: calc(var(--index) * 1.7);
    height: calc(var(--index) * 1.7);
    background-image: url("../../assets/gun.png");
    background-size: cover;
}

.table__container ammo {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
    background-image: url("../../assets/ammo.png");
    background-size: cover;
    scale: .75;
}

.table__container ammo.shotgun {
    background-image: url("../../assets/ammo-shotgun.png");
    background-size: cover;
}

.table__container .gun{
    background-image: url("../../assets/gun.png");
    background-size: contain;;
}

.table__container box .gun,
.table__container ammo-box .gun,
.table__container box ammo,
.table__container ammo-box ammo,
.table__container box ammo.shotgun,
.table__container ammo-box ammo.shotgun{
    position: relative;
    top: 20%;
    left: 20%;
}

.table__container .shotgun {
    background-image: url("../../assets/shotgun.png");
    background-size: cover;
}

.table__container .check {
    box-shadow: 0 0 0 3px rgb(255 255 255 / 80%);
}

.table__container .task {
    animation: scaleAnimation 1.3s infinite;
}

.done-left {
    animation: move-left 1s;
}

.done-right {
    animation: move-right 1s;
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(200%);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}